<header class="bp-header cf">
  <img src="assets/img/01.jpg" alt="img01" />
  <span class="bp-header__present">Dmitro Gordiienko 
					<span class="bp-tooltip bp-icon bp-icon--about" data-content="Dmitro Gordiienko personal page"></span>
  </span>
  <h1 class="bp-header__title">{{label}}</h1>
  <p class="info">{{quota}}
  </p>
  <p class="bp-header__desc">
    {{text}}
    <br/> I am a Software Engineer, Team Lead and former Chief Technical Officer upsmile.ua <br/> I have <a href="#">seventeen years :)</a> in software development
  </p>
</header>
